<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Options</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/csi.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script> -->
    <!-- <script src="static/script.js"></script> -->
    
  </head>

<body>
   <!-- <h1>Information</h1>  -->
   <div class="navbar" style="color: black;">
    <img src="static\logo.png" class="nav-img"  alt="...">
    
    <!-- <button>jainam</button> -->
    <p style="color: rgb(254, 253, 253);margin:0;font-size:20px;"><b>Options Analysis and Simulation Integrated System</b></p>
    <!-- <form class="nav-form"> -->
      <a class="nav-btn" href="{{ url_for('login') }}" type="button">Login</a>
      <!-- <button class="nav-btn" type="button">Mode</button> -->
    <!-- </form> -->
     

  </div>

   <span class="mntl-sc-block-heading__text"> What Is an Option? </span>

    <!-- <p>
        Options are financial instruments that give the holder the right, but not the obligation, to buy or sell an underlying asset at a specified price within a specified time frame. There are two main types of options: call options and put options.
            <br>
        Call Options: A call option gives the holder the right to buy the underlying asset at a specified price (known as the strike price) before the option expires. Call options are typically used when traders expect the price of the underlying asset to rise.
        <br>
        Put Options: A put option gives the holder the right to sell the underlying asset at a specified price before the option expires. Put options are typically used when traders expect the price of the underlying asset to fall.
        <br>
    Options trading involves buying and selling options contracts on various underlying assets such as stocks, indexes, commodities, or currencies. Here are some key concepts and terms related to options trading:
        <br>
        Strike Price: The price at which the underlying asset can be bought or sold when exercising the option.
        <br>
        Expiration Date: The date on which the option expires and becomes invalid. Options are typically classified as either European (can only be exercised at expiration) or American (can be exercised at any time before expiration).
        <br>
        Premium: The price paid for the option contract. This is the cost of buying the option.
        <br>
        Option Chain: A list of all available options for a particular underlying asset, showing the different strike prices and expiration dates.
        <br>
        
        In-the-money (ITM): A call option is in-the-money if the current price of the underlying asset is above the strike price. A put option is in-the-money if the current price of the underlying asset is below the strike price.
    <br>
        Out-of-the-money (OTM): A call option is out-of-the-money if the current price of the underlying asset is below the strike price. A put option is out-of-the-money if the current price of the underlying asset is above the strike price.
        <br>
        At-the-money (ATM): A call or put option is at-the-money if the current price of the underlying asset is equal to the strike price.
    
   <br> Options trading can be used for various purposes, including speculation, hedging, and generating income. However, it also involves risks, including the potential loss of the entire premium paid for the option. It's important for new traders to understand these risks and to educate themselves about options trading strategies before getting started.
    Follow the following link for more information
    <br>
    https://zerodha.com/varsity/module/option-theory/
    </p> -->
   
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>